.img-size {

    display: inline-block;
    border: 2px solid #fff;
    box-shadow: 0 0 10px #9e9e9e;
    max-width: 50%;
    height: auto;

}

.item-checkout .first-column-checkout{
    width: 20%;
}

.item-checkout td{
    border-bottom: 1px solid #ddd;
    border-top: none !important;
    text-align: center;
    vertical-align: middle !important;
}

.item-checkout .delete-cart{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.item-checkout .first-column-checkout{
    width: 15%;
}

.table-bordered{
    border-collapse: separate;
    border-radius: 6px;
}

.modal .table-bordered{
    border-bottom: none !important;
}

.total-user-checkout{
    margin-right: 20px;
    margin-top: 10px;
    text-align: right;
}

.table-cart {
    width: 100%;
}


.btn-table-size {
    width: 37px;
    height: 37px;
    margin-left: 2px;
    margin-right: 2px;
    align-content: normal;
}

.btn-size {
    height: 40px;
}

.main {
    margin-top: 40px;
}

.message{
    margin-top: 10px;
    text-align: right;
}


.field-error {
    color: red;
    font-size: 1.1em;
}