body {
    font-family: 'Hind', sans-serif;
    color: #4A4E5A;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #3d385c;
    margin: 0 0 10px;
    font-weight: 700;
}

a {
    color: #30323A;
    -webkit-transition: 0.3s color;
    transition: 0.3s color;
}

a:hover, a:focus {
    color: #F8694A;
    text-decoration: none;
    outline: none;
}

.primary-color {
    color: #F8694A;
}

.white-color {
    color: #FFF;
}

.font-weak {
    font-weight: 400;
}

strong {
    color: #30323A;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: #DADADA;
}


#top-header {
    padding-top: 5px;
    padding-bottom: 15px;

}

.header-top-links > li {
    display: inline-block;
}

.header-top-links > li + li {
    margin-left: 15px;
}

.header-top-links > li > a {
    cursor: pointer;
    text-transform: uppercase;
}

#navigation {
    background-color: #30323A;
}

#navigation .container {
    position: relative;
}

.header-top-links > li {
    display: inline-block;
}

.header-top-links > li + li {
    margin-left: 15px;
}

.header-top-links > li > a {
    cursor: pointer;
    text-transform: uppercase;
}


.header-btns>li {
    display: inline-block;
    vertical-align: top;
    padding: 15px 0px;
}

.header-btns>li+li {
    margin-left: 15px;
}

.header-btns>li .header-btns-icon {
    position: relative;
    float: left;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #30323A;
    background-color: #FFF;
    border: 1px solid #DADADA;
}

.header-btns .dropdown-toggle {
    display: block;
    cursor: pointer;
}

.header-account.dropdown .custom-menu>li>a>i {
    margin-right: 15px;
    color: #F8694A;
}

